<section class="w-75 mx-auto shadow rounded bg-main-light p-3 mb-3" *ngIf="cartDetails;else msg">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="h2">Shop Cart</h1>
    <button (click)="clear()" class="btn btn-sm btn-outline-danger">Clear All</button>
  </div>

  <p class="text-main">Total Price {{cartDetails.totalCartPrice |currency : 'EGP '}}

  </p>

  <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products">
    <div class="col-md-1 ">
      <img class="w-100" [src]="item.product.imageCover" [alt]=""item.product.title>
    </div>


    <div class="col-md-11 d-flex justify-content-between align-items-center">
    <div>
      <h3 class="h6">{{item.product.title | cuttext:3}}</h3>
      <p class="text-main small mb-0">Price : {{item.price |currency : 'EGP '}}</p>
      <button #btnRemove (click)="removeItem(item.product._id , btnRemove)" class=" btn-remove m-0 p-0 text-red"><i class="fas fa-trash-can"></i>Remove</button>
    </div>
    <div>
      <button #btn1
      (click)="changeCount(item.count - 1 , item.product._id , btn1 , btn2)"
       class="btn btn-sm border-success">
       -
      </button>
      <span> {{ item.count }} </span>
      <button #btn2
      (click)="changeCount(item.count + 1 , item.product._id , btn1 , btn2)"
      class="btn btn-sm border-success">
      +
    </button>

    </div>
    </div>
  </div>

  <button [routerLink]="['/payment' , cartDetails._id]" class="main-btn mt-3">Online Payment  <img width="30" src="./assets/images/visaa.png" alt="visa logo"></button>

</section>

<ng-template #msg>
  <div class="d-flex align-items-baseline justify-content-center p-0 m-0 vh-100">
    <i class="fa-solid fa-bookmark fa-xl Icon1"></i>
    <h2 class="text-center px-2 mt-5 color-gradient paragraph"> What are you waiting for? Start shopping and fill your cart with goodies...</h2>
    <i class="fa-solid fa-bookmark fa-xl Icon2"></i>
  </div>
</ng-template>



